body, html {
  height: 100%;
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
}
body {
  background-image: url("images/CompStone_Board.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
input {
  padding: 9px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  background-color: lightblue;
  border: 1px black solid;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

hr {
  border-top: 1px black solid;
}

.head {
  border: 3px black solid;
  padding: 3px;
  margin: 3px;
  display: inline-block;
}

.div {
  border: 3px black solid;
  padding: 3px;
  margin: 3px;
}

#playerHand {
  margin-left: 21px;
}

#aiBoard {
  margin-left: 170px;
}
#playerBoard {
  margin-left: 170px;
}

#aiDeck {

  margin-left: 15px;
  margin-top: 70px;
}
#playerDeck {

  margin-left: 880px;
  margin-top: 120px;
}

#aiData {
  margin-top: 5px;
  margin-left: 85px;
  padding: 20px;
}
#playerData {
  position: absolute;
  margin-left: 900px;
  margin-top: 210px;
  float: left;
}

#endTurn {
  position: absolute;
  margin-left: 50px;
  margin-top: 225px;
}

#all {
  grid-template-columns: 50px 50px 50px 50px 50px 50px auto;
  grid-template-rows: 50px 50px 50px 50px auto;
  background-image: url("images/board.png");
  background-repeat: no-repeat;
  margin-bottom: 0;
  height: 800px;
}

.aiCards {
  font-size: x-small;
  padding: 8px;

  width: 100px;
  height: 133px;
  float: left;

  border-radius: 15px;
}

.playerBoardCards {
  font-size: x-small;
  padding: 8px;

  width: 100px;
  height: 133px;
  float: left;

  margin-top: 97px;
  border-radius: 15px;
}

.playerCards {
  font-size: small;
  padding: 8px;

  width: 130px;
  height: 170px;
  float: left;

  margin-top: 97px;
  margin-right: 17px;
  border-radius: 7px;
}
#playerhand-0{
  position:absolute;
  left:30px;
  top:483px;
}
#playerhand-1{
  position:absolute;
  left:190px;
  top:483px;
}
#playerhand-2{
  position:absolute;
  left:349px;
  top:483px;
}
#playerhand-3{
  position:absolute;
  left:508px;
  top:483px;
}
#playerhand-4{
  position:absolute;
  left:666px;
  top:483px;
}

#playerboard-0{
  position:absolute;
  left:204px;
  top:304px;
}
#playerboard-1{
  position:absolute;
  left:330px;
  top:304px;
}
#playerboard-2{
  position:absolute;
  left:456px;
  top:304px;
}
#playerboard-3{
  position:absolute;
  left:583px;
  top:304px;
}
#playerboard-4{
  position:absolute;
  left:709px;
  top:304px;
}

#aiboard-0 {
  position:absolute;
  left:204px;
  top:176px;
}
#aiboard-1 {
  position:absolute;
  left:330px;
  top:176px;
}
#aiboard-2 {
  position:absolute;
  left:456px;
  top:176px;
}
#aiboard-3 {
  position:absolute;
  left:583px;
  top:176px;
}
#aiboard-4 {
  position:absolute;
  left:709px;
  top:176px;
}

.hero-homepage {
  background-image: url("images/CompStone_Board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* The hero image */
.hero {
  /* Set a specific height */
  height: 50%;
}

/* Place text in the middle of the image */
.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  padding-top: 10px;
}

/* google button  **************************************************************************************************/
#google {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#google:hover {
  cursor: pointer;
}

span.googleLogo img {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding-left: 5px;
}

/* imports google logo font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
span.googleText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* end google button ****************************************************************************************************/

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}